@import "variables";
.divclass{
  width: 600px;
  background-color:$background-color; 
  display: flex;
    align-items: center; 
    gap: 10px;
    border-radius: 5px;
    
  h3{
    color: white;
    margin-top: -150px;
    font-family:$font-family ;
    margin-left: 100px;
   
  }
  .imgclass{
    width: 200px;
    height: 200px;
    border-radius: 5px;
  }
  p{
    color: white;
    display: block !important;
    width: 400px;
   
  }
  div{
    margin-top: 100px;
  }
}
.aclass{
text-decoration: none;
}