$primary-color: #777986; // Dark Grayish Blue
$secondary-color: #73737a; // Light Grayish Blue
$accent-color: #B3B5BD; // Medium Grayish Blue
$background-color: #989ca4; // Light Gray
$text-color:black; // Off-white
$link-color: #00509e; // Lighter Navy Blue
$font-family:"Noto Serif Georgian", serif ;