@import "variables";
 #section1{ 
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  #divid{
    font-size: 48px;
    font-weight:1000;
    color: #333e79;
    width: 700px;
    font-family:$font-family ;
    margin-left: 140px;
  }
  p{
    width: 630px;
    margin-left: 140px;
    margin-top: 30px;
    color: rgb(143, 146, 166);
    font-family:$font-family ;
  }
  .container{
    margin-top: 30px;
   margin-left: 130px;
  }
  img{
    width: 650px;
    height: 600px;
    margin-top: -80px;
    margin-left: -50px;
  }
}
#buttonid{
  background-color:$color-normblue ;
  color: white !important;
}
#buttonid1{
  background-color:white ;
  color:$color-normblue ;
  border: 2px solid $color-normblue;
}
.button {
  font-family:$font-family ;
  border: none;
  color:$color-normblue;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
  width: 120px;
  transition: background-color 0.3s;
}

#buttonid:hover {
  background-color:rgb(77, 105, 181);
  color: white;
  border:rgb(77, 105, 181) ;
}
#buttonid1:hover {
  color:white;
  background-color: $color-normblue;
  
}
#section2{
  margin-bottom: 200px;
 .divclass{
  display: flex;
 }
  #divid1{
    width: 200px;
    color: white;
    background-color: $color-normblue;
    height: 30px;
    font-family:$font-family ;
    border-radius: 14px;
    margin-left: 600px;
    padding-left: 15px;
    padding-top: 2px;
  }
  #divid2{
    font-size: 36px;
    font-weight:800;
    color: #333e79;
    font-family:$font-family ;
    margin-left: 370px;
    margin-top: 20px;
  } 
  #maindiv{
    margin-left: 100px;
    margin-top: 50px;
  img{
    width: 380px;
    height: 250px;
    border-radius:10px ;
    position: relative;
  }
  #divid3{
    position: absolute;
  background-color: white !important;
  width: 340px;
  height:150px ;
  margin-top: -20px;
  margin-left: 20px;
  border-radius: 10px;
  h4{
    font-size:large;
    color:#333e79 ;
    font-family: $font-family;
    font-weight: 600;
    margin-left: 100px;
  }
  p{
    margin-top: 20px;
    color:rgb(143, 146, 166) ;
    width: 330px;
    font-family:$font-family ;
    padding-left:5px ;
  }
  }
}
}
